.bodyLogin {
    font-family: 'Helvetica Neue';

}

.bodyTemplate {
    font-family: 'Helvetica Neue';
    min-height: 90vh;
    position: relative;

    padding-bottom: 80px;
    box-sizing: border-box;
}


#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;

}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5c7fb8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #5c7fb8;
}

.active {
    background-color: white;
    color: #5c7fb8;
}

.headLogin {
    background-color: #5c7fb8;
    color: white;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.headLogin>h3 {
    font-size: 48px;
    position: absolute;
    bottom: -15px;
    left: 35px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: normal;
}

.table1 {
    border-collapse: collapse;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.table1>thead>tr>th,
.table1>tbody>tr>td {
    border: 1px solid #d1d1d1;
    border-collapse: collapse;
    padding: 8px;
    vertical-align: middle;
    text-align: center;
}

.table2 {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.table2>tbody>tr>td {
    border: 1px solid #d1d1d1;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 0px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.tableLogin {
    width: 500px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-collapse: collapse;
}

.tableLogin>tr>td {
    border-collapse: collapse;
}

.tableLogin .textLogin {
    width: 100%;
    height: 40px;
    padding: 12px 20px;
    border-radius: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
}

.link {
    text-decoration: none;
    color: #5c7fb8;
}

.link:hover {
    text-decoration: underline;
    color: #4b658f;
}

.col>h1 {
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

h1 {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 25px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.peringatan {
    text-align: center;
}

.btn {
    text-align: center;
}

.formisi {
    text-align: center;
}

#pesanbtn {
    background-color: #5c7fb8;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 15px;
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 0.15s;
}

#pesanbtn:hover {
    background-color: #4b658f;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 15px;
    border-radius: 4px;
    text-decoration: none;
}

#pesanbtn:focus {
    background-color: #4b658f;
    border: none;
    color: white;
    text-align: center;
    padding: 9px 15px;
    border-radius: 4px;
    text-decoration: none;
    outline: #8aa0c4 solid 3px;
}

#ubahbtn {
    background-color: rgb(76, 141, 70);
    border: none;
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.15s;
}

#ubahbtn:hover {
    background-color: rgb(65, 121, 60);
    border: none;
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

#ubahbtn:focus {
    background-color: rgb(65, 121, 60);
    border: none;
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    outline: rgb(131, 155, 130) solid 3px;
}

#hapusbtn {
    background-color: rgb(197, 73, 73);
    border: none;
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.15s;
}

#hapusbtn:hover {
    background-color: rgb(160, 60, 60);
    border: none;
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

#hapusbtn:focus {
    background-color: rgb(160, 60, 60);
    border: none;
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    outline: rgb(197, 132, 132) solid 3px;
}

#mpbtn {
    background-color: white;
    border: 1px solid rgb(197, 73, 73);
    color: red;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 0.3s;
    font-size: 16px;
}

#mpbtn:hover {
    background-color: rgb(197, 73, 73);
    border: 1px solid rgb(197, 73, 73);
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
}

#mpbtn:focus {
    background-color: rgb(197, 73, 73);
    border: 1px solid rgb(197, 73, 73);
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    outline: rgb(197, 132, 132) solid 3px;
}

#hpbtn {
    background-color: white;
    border: 1px solid rgb(76, 141, 70);
    color: rgb(76, 141, 70);
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 0.3s;
    font-size: 16px;
}

#hpbtn:hover {
    background-color: rgb(76, 141, 70);
    border: 1px solid rgb(76, 141, 70);
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
}

#hpbtn:focus {
    background-color: rgb(76, 141, 70);
    border: 1px solid rgb(76, 141, 70);
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    outline: rgb(131, 155, 130) solid 3px;
}

#signaturebtn {
    background-color: #5c7fb8;
    border: none;
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.15s;
}

#signaturebtn:hover {
    background-color: #4b658f;
    border: none;
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

#signaturebtn:focus {
    background-color: #4b658f;
    border: none;
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    outline: #8aa0c4 solid 3px;
}